<!DOCTYPE html >
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - MedJunior</title>
	@Styles.Render("~/App_Themes/Theme1/dropdown.css")
	@Styles.Render("~/App_Themes/Theme1/footer.css")
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
	<div class="logo">
		<img src="~/Content/Images/logo.png" />
	</div>
	<nav>
		<div class="navMed">
			<ul>
				<li>
					<a class="Home link" href="@Url.Action("Index", "Home")">Home</a>
				</li>
				<li>
					<a class="QuemSomos link" href="@Url.Action("Index", "QuemSomos")">Quem Somos</a>
				</li>
				<li>
					<a class="Cronograma link" href="#">Cronograma</a>
				</li>
				<li>
					<a class="Produtos link" href="#">Produtos</a>
				</li>
				<li>
					<a class="Fotos link" href="#">Fotos</a>
				</li>
				<li>
					<a class="FaleConosco link" href="#">Fale Conosco</a>
				</li>
				<li>
					<a class="btn btn-primary btn signIn" href="@Url.Action("Index","SignIn")">Sign In</a>
				</li>
			</ul>
		</div>
	</nav>
    @RenderBody()
	<footer>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-4">
				<br>
				<a href="https://www.facebook.com/med.fmusp">
					<img class="facebook" src="~/Content/Images/facebooka.png" width="40" height="40">
				</a>
				<br>
				<br>
				<p class="texto-footer">MedJunior © 2018 | Todos os direitos reservados</p>
			</div>
			<div class="col-3"></div>
			<div class="col-3">
				<br>
				<p class="texto-footer">
					<b>
						medjunior@gmail.com<br>
						Av. Dr. Enéas de Carvalho Aguiar, 419<br>
						05403-000 – São Paulo - SP<br>
						(próximo ao metrô clínicas)
					</b>
				</p>
			</div>
			<div class="col-1"></div>
		</div>
	</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
